/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.uni-spacer {
  flex: 1 1 auto;
}

.uni-container {
  position: relative;
}

.uni-table-container {
  position: relative;
  min-height: 100px;
  max-height: 600px;
  overflow: auto;
}

.uni-table {
  width: 100%;
}

.uni-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uni-point {
  cursor: pointer;
}

.clicked {
  font-weight: bold;
}
